@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
}


.hidden {
    display: none;
}

header a {
    text-decoration: none;
}

/* -----HEADER DESIGNING----- */

header img {
    width: 150px;
    margin: 5px;
}

header span {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

header {
    z-index: 100;
    position: fixed;
    width: 100%;
    top: 0;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-glass {
    padding: 0 2% 0 2%;
    background: rgb(0, 20, 47);
    transition: 0.3s;
}

.header-glass.active {
    background: rgba(0, 27, 61, 0.911);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    transition: 0.3s;
}

header div {
    display: flex;
    align-items: center;
}

/* -----NAVBAR DESIGNING----- */

nav {
    display: flex;
    transition: 0.5s;
}

nav a {
    box-shadow: 0 0 50px -15px #8b9ad9;
    padding: 50px;
    border-radius: 5px;
    font-weight: 500;
    color: white;
    margin: 10px;
    text-decoration: none;
    transition: 0.25s;
    letter-spacing: 0.001px;
}

nav a:hover {
    transition: 0.25s;
    box-shadow: 0 0 50px -12.5px #34f5c8;
    color: #34f5c8;
    background-color: rgba(31, 38, 135, 0.37);
}

.hamburger {
    display: none;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger img {
    border-radius: 5px;
    transition: 1s;
    fill: white;
    width: 30px;
}

@media (max-width: 950px) {
    header span {
        font-size: 1.25rem;
    }
    nav a {
        font-size: 0.9rem;
    }
}

@media (max-width: 1300px) {
    header div span {
        display: none;
    }
}

@media (max-width: 1300px) {
    .header-glass.active {
        background-color: rgb(0, 20, 47);
    }
    nav {
        position: absolute;
        width: 100%;
        left: 0;
        flex-direction:row;
        align-items: center;
        justify-content: center;
        background-color: rgb(0, 20, 47);
        display: none;
        transition: all 0.5s ease;
    }
    nav a {
        font-size: 1.2rem;
        box-shadow: none;
        text-align: center;
        width: auto;
        padding: 2.5px;
        margin: 1.75px;
    }
    nav a:hover {
        font-size: 1.25rem;
        background-color: rgb(0, 20, 47);
        box-shadow: none;
        color: rgba(2, 84, 200, 1);
        letter-spacing: 0.5px;
    }
    .hamburger {
        display: block;
    }
    header div span {
        display: block;
    }
    nav a:nth-child(1) {
        margin-top: 0.5rem;
    }
}



.banner{
    position: relative;
    width: 100%;
    height:150vh;
    background: url(../images/polygon.svg);
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content:right;
    align-items:center;
    padding-bottom: 5%;
    
}

.banner #text {
    position: relative;
    color: #fefefe;
    font-size: clamp(3rem, 5vw, 6rem);
    white-space: nowrap;
    letter-spacing: 3px;
    z-index: 5;
    right: 110px;
}

.banner #text span{
    color: #0254C8;
    font-weight: bolder;
}

@media (max-width: 768px) {
    .banner #text {
        right: 75px;
    }
}

@media (max-width: 600px) {
    .banner #text {
        right: 50px;
    }
}

@media (max-width: 480px) {
    .banner #text {
        right: 30px;
    }
}


.banner .cloud{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}


.banner .cloud img{
   
    position: absolute ;
    bottom: 0;
    max-width: 100%;
    animation: animate calc(3s * var(--i)) linear infinite;
}

@keyframes animate
{
    0%{ 
        opacity: 0;
        transform: scale(1);
    }
    25%,75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: scale(3);
    }

}

#about
{

    position: relative;
    padding: 10% 7%;
    
    text-align: center;
    margin-bottom: 20%;

}


section h2{
    font-size: 2.5em;
    margin-bottom: 30px;
}

section p{
    font-size: 1.2em;
}

.contact {
    width: 100%;
    height: 50vh;
    
    padding: 140px 0; 
    
  }
  
  .card {
    position: relative;
    max-width: 300px;
    height: auto;
    overflow: hidden;
    border-radius: 15px;
    margin: 0 auto;
    padding: 40px 20px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    transition: .5s;
  }
  .card:hover {
    transform:scale(1.1);
  }
  .card_red, .card_red .title .fa {
    background: linear-gradient(-45deg, #0254C8, #04001E);
  }
  .card_violet, .card_violet .title .fa  {
    background: linear-gradient(-45deg, #04001E , #0254C8);
  }
  .card_three, .card_three .title .fa  {
    background: linear-gradient(-45deg, #0254C8, #04001E);
  }
  
  .card:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255, 255, 255, .1);
    z-index: 1;
    transform: skewY(-5deg) scale(1.5);
  }
  
  .title .fa {
    color: #fff;
    font-size: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
  }
  .title h2 {
    position: relative;
    margin: 20px 0 0;
    padding: 0;
    color: #fff;
    font-size: 28px;
    z-index: 2;
  }
 
  .option {
    position: relative;
    z-index: 2;
  }
  .option ul {
    margin-top: 4%;
    padding: 0;
  }
  .option p {
    margin: 0 0 10px;
    padding: 0;
    list-style: none;
    color: #fff;
    font-size: 14px;
  }


  .schedule{
    position: relative;
    background: url(../images/pexels-adrien-olichon-2387793.jpg);
    width: 100%;
    height:100vh;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content:right;
    align-items:center;
    padding-bottom: 5%;
    color: #fff;
  }

  .schedule{

    position: relative;
    padding: 10% 7%;
    
    text-align: center;

}

